[package]
name = "ssi"
version = "0.2.2"
authors = ["Spruce Systems, Inc."]
edition = "2018"
license = "Apache-2.0"
description = "Core library for Verifiable Credentials and Decentralized Identifiers."
repository = "https://github.com/spruceid/ssi/"
documentation = "https://docs.rs/ssi/"

exclude = [
  "json-ld-api/*",
  "json-ld-normalization/*",
]

[features]
default = ["ring"]
http-did = ["hyper", "hyper-tls", "http", "percent-encoding", "tokio"]
libsecp256k1 = ["secp256k1"] # backward compatibility
secp256k1 = ["k256", "rand", "k256/keccak256"]
secp256r1 = ["p256", "rand"]
ripemd-160 = ["ripemd160", "secp256k1"]
# TODO handle better keccak and sha
keccak = ["keccak-hash", "secp256k1", "k256/keccak256"]
sha = ["sha2", "k256/sha256"]

[dependencies]
bbs = "0.4.1"
pairing-plus = "0.19"
ff = { version = "0.6", package = "ff-zeroize" }
hkdf = "0.8"
zeroize = { version = "1.4", features = ["zeroize_derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_jcs = "0.1"
pest = "2.1"
pest_derive = "2.1"
derive_builder = "0.9"
base64 = "0.12"
ring = { version = "0.16", optional = true }
rsa = { version = "0.3", optional = true }
ed25519-dalek = { version = "1", optional = true }
rand = { version = "0.8", optional = true }
rand_old = { package = "rand", version = "0.7" }
multibase = "0.8"
simple_asn1 = "^0.5.2"
num-bigint = "0.4"
async-std = { version = "1.9", features = ["attributes"] }
async-trait = "0.1"
json = "^0.12"
futures = "0.3"
iref = "1.4"
lazy_static = "1.4"
combination = "0.1"
sha2 = { version = "0.9", optional = true }
sha2_old = { package = "sha2", version = "0.8" }
hyper = { version = "0.14", optional = true, features = ["server", "client", "http1", "stream"] }
hyper-tls = { version = "0.5", optional = true }
http = { version = "0.2", optional = true }
hex = "0.4"
serde_urlencoded = "0.7"
percent-encoding = { version = "2.1", optional = true }
tokio = { version = "1.0", optional = true, features = ["macros"] }
blake2b_simd = "0.5"
bs58 = { version = "0.4", features = ["check"] }
thiserror = "1.0"
keccak-hash = { version = "0.7", optional = true }
# TODO make this optional, or remove it
ecdsa = "0.11.1"
digest = "0.9"
k256 = { version = "0.8", optional = true, features = ["zeroize", "ecdsa"] }
p256 = { version = "0.8", optional = true, features = ["zeroize", "ecdsa"] }
ssi-contexts = { version = "0.1.0", path = "contexts/" }
ripemd160 = { version = "0.9", optional = true }
sshkeys = "0.3"
reqwest = { version = "0.11", features = ["json"] }
flate2 = "1.0"
bitvec = "0.20"

# dependencies for json-ld
log = "^0.4"
mown = "^0.2"
# json = "^0.12"
#iref = "^1.4.3"
#futures = "^0.3"
once_cell = "^1.4"
langtag = "^0.2"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
chrono = { version = "0.4", features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
chrono = { version = "0.4", features = ["serde", "wasmbind"] }
# https://docs.rs/getrandom/0.2.2/getrandom/#indirect-dependencies
getrandom = { version = "0.2", features = ["js"] }

[workspace]
members = [
  "did-tezos",
  "did-key",
  "did-web",
  "did-ethr",
  "did-sol",
  "did-pkh",
  "did-onion",
  "did-webkey",
  "vc-test",
  "did-test",
]

[dev-dependencies]
uuid = { version = "0.8", features = ["v4", "serde"] }
difference = "2.0"
did-method-key = { path = "./did-key" }

# dev-dependencies for json-ld
static-iref = "^1.0"
iref-enum = "^1.2"
stderrlog = "^0.5"
tokio = { version = "1.0", features = ["macros"] }
