[package]
name = "ssi"
version = "0.1.0"
authors = ["wyc <wyc@fastmail.fm>"]
edition = "2018"

[features]
default = ["ring"]
http-did = ["hyper", "hyper-tls", "http", "percent-encoding", "tokio"]
secp256k1 = ["libsecp256k1", "rand"]

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_jcs = "0.1"
pest = "2.1"
pest_derive = "2.1"
derive_builder = "0.9"
base64 = "0.12"
ring = { version = "0.16", optional = true }
rsa = { version = "0.3", optional = true }
ed25519-dalek = { version = "1", optional = true }
rand = { version = "0.7", optional = true }
multibase = "0.8"
simple_asn1 = "0.5"
num-bigint = "0.3"
async-std = { version = "1.9", features = ["attributes"] }
async-trait = "0.1"
json-ld = { git = "https://github.com/timothee-haudebourg/json-ld", rev = "2475710209fa2a89272294eff1dfe6bf19c2016e" }
# json = "^0.12"
json = { git = "https://github.com/timothee-haudebourg/json-rust", branch = "fix#190" }
futures = "0.3"
iref = "1.4"
lazy_static = "1.4"
combination = "0.1"
sha2 = { version = "0.9", optional = true }
hyper = { version = "0.14", optional = true, features = ["server", "client", "http1", "stream"] }
hyper-tls = { version = "0.5", optional = true }
http = { version = "0.2", optional = true }
hex = "0.4"
serde_urlencoded = "0.7"
percent-encoding = { version = "2.1", optional = true }
tokio = { version = "1.0", optional = true, features = ["macros"] }
blake2b_simd = "0.5"
bs58 = { version = "0.4", features = ["check"] }
libsecp256k1 = { version = "0.3", optional = true }
thiserror = "1.0"
keccak-hash = { version = "0.7", optional = true }

[workspace]
members = [
  "did-tezos",
  "did-key",
  "did-web",
  "did-ethr",
  "did-sol",
  "vc-test",
]

[dev-dependencies]
uuid = { version = "0.8", features = ["v4", "serde"] }
difference = "2.0"
