[package]
name = "ssi"
version = "0.3.0"
authors = ["Spruce Systems, Inc."]
edition = "2018"
license = "Apache-2.0"
description = "Core library for Verifiable Credentials and Decentralized Identifiers."
repository = "https://github.com/spruceid/ssi/"
documentation = "https://docs.rs/ssi/"
resolver = "2"

exclude = ["json-ld-api/*", "json-ld-normalization/*"]

[features]
default = ["ring"]
http-did = ["http", "percent-encoding"]
libsecp256k1 = ["secp256k1"] # backward compatibility
secp256k1 = ["k256", "rand", "k256/keccak256"]
secp256r1 = ["p256", "rand"]
aleosig = ["rand", "blake2", "snarkvm-dpc", "snarkvm-algorithms", "snarkvm-curves", "snarkvm-utilities", "snarkvm-parameters"]
ripemd-160 = ["ripemd160", "secp256k1"]
# TODO handle better keccak and sha
keccak = ["keccak-hash", "secp256k1", "k256/keccak256"]
sha = ["sha2", "k256/sha256"]
example-http-issuer = []

[dependencies]
json-ld = "0.4"
# SAFETY: bbs and pairing-plus are set to specific versions due to a
# dependency on internal struct representations using transmute in src/bbs.rs.
bbs = "=0.4.1"
pairing-plus = "=0.19.0"
ff = { version = "0.6", package = "ff-zeroize" }
hkdf = "0.8"
zeroize = { version = "1.4", features = ["zeroize_derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_jcs = "0.1"
pest = "2.1"
pest_derive = "2.1"
derive_builder = "0.9"
base64 = "0.12"
ring = { version = "0.16", optional = true }
rsa = { version = "0.3", optional = true }
ed25519-dalek = { version = "1", optional = true }
rand = { version = "0.8", optional = true }
rand_old = { package = "rand", version = "0.7" }
multibase = "0.8"
simple_asn1 = "^0.5.2"
num-bigint = "0.4"
async-std = { version = "1.9", features = ["attributes"] }
async-trait = "0.1"
json = "^0.12"
futures = "0.3"
iref = "^2.0.3"
lazy_static = "1.4"
combination = "0.1"
sha2 = { version = "0.9", optional = true }
sha2_old = { package = "sha2", version = "0.8" }
http = { version = "0.2", optional = true }
hex = "0.4"
serde_urlencoded = "0.7"
percent-encoding = { version = "2.1", optional = true }
tokio = { version = "1.0", optional = true, features = ["macros"] }
blake2b_simd = "0.5"
blake2 = { version = "0.9", optional = true }
bs58 = { version = "0.4", features = ["check"] }
thiserror = "1.0"
keccak-hash = { version = "0.7", optional = true }
# TODO make this optional, or remove it
ecdsa = "0.11.1"
digest = "0.9"
k256 = { version = "0.9.6", optional = true, features = ["zeroize", "ecdsa"] }
p256 = { version = "0.9.0", optional = true, features = ["zeroize", "ecdsa"] }
ssi-contexts = { version = "0.1.2", path = "contexts/" }
ripemd160 = { version = "0.9", optional = true }
sshkeys = "0.3"
reqwest = { version = "0.11", features = ["json"] }
flate2 = "1.0"
bitvec = "0.20"
clear_on_drop = "0.2.4"
url = { version = "2.2", features = ["serde"] }
rand_xorshift = "0.3"
bech32 = "0.8"
snarkvm-dpc = { version = "0.7.9", optional = true }
snarkvm-algorithms = { version= "0.7.9", optional = true }
snarkvm-curves = { version= "0.7.9", optional = true }
snarkvm-utilities = { version = "0.7.9", optional = true }
snarkvm-parameters = { version = "0.7.9", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
chrono = { version = "0.4", features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
chrono = { version = "0.4", features = ["serde", "wasmbind"] }
# https://docs.rs/getrandom/0.2.2/getrandom/#indirect-dependencies
getrandom = { version = "0.2", features = ["js"] }

[workspace]
members = [
  "did-tezos",
  "did-key",
  "did-web",
  "did-ethr",
  "did-sol",
  "did-pkh",
  "did-onion",
  "did-webkey",
  "vc-test",
  "did-test",
]

[dev-dependencies]
blake2_old = { package = "blake2", version = "0.8" } # for bbs doctest
uuid = { version = "0.8", features = ["v4", "serde"] }
difference = "2.0"
did-method-key = { path = "./did-key" }
tokio = { version = "1.0", features = ["macros"] }
hyper = { version = "0.14", features = ["server", "http1", "stream"] }

[package.metadata.docs.rs]
features = ["secp256r1", "secp256k1", "ripemd-160", "http-did"]
rustdoc-args = ["--cfg", "docsrs"]
