[package]
name = "ssi"
version = "0.1.0"
authors = ["wyc <wyc@fastmail.fm>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
pest = "2.1"
pest_derive = "2.1"
derive_builder = "0.9"
base64 = "0.12"
jsonwebtoken = { path = "jsonwebtoken" }
ring = "0.16"
multibase = "0.8"
simple_asn1 = "0.5"
num-bigint = "0.3"
async-std = { version = "1.5", features = ["attributes"] }
async-trait = "0.1"

[workspace]
members = [
  "did-resolve",
  "did-tezos",
  "vc-test",
  "jsonwebtoken",
]
