[package]
name = "did-ethr"
version = "0.3.1"
authors = ["Spruce Systems, Inc."]
edition = "2021"
license = "Apache-2.0"
keywords = ["ssi", "did", "ethereum"]
categories = ["cryptography::cryptocurrencies"]
description = "did:ethr DID method, using the ssi crate"
repository = "https://github.com/spruceid/ssi/"
homepage = "https://github.com/spruceid/ssi/tree/main/did-ethr/"
documentation = "https://docs.rs/did-ethr/"

[dependencies]
ssi-dids-core.workspace = true
ssi-caips = { workspace = true, features = ["eip"] }
ssi-jwk.workspace = true
iref.workspace = true
static-iref.workspace = true
thiserror.workspace = true
hex.workspace = true
serde_json.workspace = true

[dev-dependencies]
tokio = { version = "1.0", features = ["macros"] }
ssi-verification-methods-core.workspace = true
ssi-claims = { workspace = true, features = ["ethereum", "eip712", "dif", "secp256k1"] }
ssi-json-ld.workspace = true
xsd-types.workspace = true
linked-data.workspace = true
serde = { workspace = true, features = ["derive"] }
json-syntax.workspace = true
