[package]
name = "did-pkh"
version = "0.3.1"
authors = ["Spruce Systems, Inc."]
edition = "2021"
license = "Apache-2.0"
keywords = ["ssi", "did"]
categories = ["cryptography"]
description = "did:pkh DID method, using the ssi crate"
repository = "https://github.com/spruceid/ssi/"
homepage = "https://github.com/spruceid/ssi/tree/main/did-pkh/"
documentation = "https://docs.rs/did-pkh/"

[features]
default = ["ripemd-160", "eip", "tezos"]
ripemd-160 = ["ssi-jwk/ripemd-160", "ssi-caips/ripemd-160"]
eip = ["ssi-jwk/eip", "ssi-caips/eip"]
tezos = ["ssi-jwk/tezos", "ssi-caips/tezos"]
aleo = ["ssi-jwk/aleo", "ssi-caips/aleo"]
solana = []

[dependencies]
ssi-crypto.workspace = true
ssi-caips.workspace = true
ssi-dids-core.workspace = true
ssi-jwk.workspace = true
iref.workspace = true
static-iref.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
async-trait.workspace = true
bs58 = { workspace = true, features = ["check"] }
bech32 = "0.8"
chrono = { workspace = true, features = ["serde"] }
thiserror.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
chrono = { workspace = true, features = ["serde", "wasmbind"] }

[dev-dependencies]
ssi-core.workspace = true
ssi-verification-methods-core.workspace = true
ssi-json-ld.workspace = true
ssi-claims = { workspace = true, features = ["w3c", "dif", "ethereum", "eip712", "secp256k1", "secp256r1", "tezos", "ed25519"] }
ssi-tzkey.workspace = true
ssi-eip712.workspace = true
ssi-caips = { workspace = true, features = ["eip"] }
ssi-jws.workspace = true
rdf-types.workspace = true
xsd-types.workspace = true
linked-data.workspace = true
json-syntax.workspace = true
locspan.workspace = true
tokio = { version = "1.0", features = ["macros", "rt"] }
hex.workspace = true
blake2b_simd = "0.5"
