[package]
name = "ssi-jwt"
version = "0.2.0"
edition = "2021"
authors = ["Spruce Systems, Inc."]
license = "Apache-2.0"
description = "Implementation of JWT for the ssi library."
repository = "https://github.com/spruceid/ssi/"
documentation = "https://docs.rs/ssi-jwt/"

[dependencies]
thiserror = "1.0"
async-trait.workspace = true
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
json-syntax = { workspace = true, features = ["serde"] }
ssi-core.workspace = true
ssi-crypto.workspace = true
ssi-jwk.workspace = true
ssi-jws.workspace = true
ssi-verification-methods.workspace = true
iref.workspace = true
serde_with = "2.3.2"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
chrono = { version = "0.4", features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
chrono = { version = "0.4", features = ["serde", "wasmbind"] }