[package]
name = "did-tz"
version = "0.2.1"
authors = ["Spruce Systems, Inc."]
edition = "2021"
license = "Apache-2.0"
keywords = ["ssi", "did", "tezos"]
categories = ["cryptography::cryptocurrencies"]
description = "did:tz Tezos DID method, using the ssi crate"
repository = "https://github.com/spruceid/ssi/"
homepage = "https://github.com/spruceid/ssi/tree/main/did-tezos/"
documentation = "https://docs.rs/did-tezos/"

[dependencies]
ssi-dids-core.workspace = true
# TODO Enabling the tezos feature all the time as it is gating the blakesig stuff in ssi_jwk
ssi-jwk = { workspace = true, default-features = false, features = ["tezos"] }
ssi-jws = { workspace = true, default-features = false }
ssi-core.workspace = true
chrono = { version = "0.4" }
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
async-trait = "0.1"
json-patch = "0.2.6"
bs58 = { version = "0.4", features = ["check"] }
url = "2.2.1"
iref.workspace = true
static-iref.workspace = true
thiserror.workspace = true

[target.'cfg(target_os = "android")'.dependencies.reqwest]
version = "0.11"
features = ["json", "native-tls-vendored"]

[dev-dependencies]
ssi-tzkey.workspace = true
# ssi-vc.workspace = true
# ssi-vc-data-integrity.workspace = true
ssi-claims = { workspace = true, features = ["tezos", "dif", "secp256k1"] }
ssi-json-ld.workspace = true
json-syntax.workspace = true
tokio = { version = "1.0", features = ["macros"] }
wiremock = "0.5"
linked-data = { workspace = true, features = ["derive"] }
xsd-types = { workspace = true, features = ["serde"] }
rand_chacha.workspace = true