name: ci

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout SSI Library
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Cache Cargo registry and build artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: ${{ runner.os }}-ssi2-cargo-${{ hashFiles('Cargo.toml', '**.rs') }}
        restore-keys: |
          ${{ runner.os }}-ssi2-cargo-

    - name: Build
      run: cargo build --verbose --workspace

    - name: Fmt
      run: cargo fmt -- --check

    - name: Clippy
      run: cargo clippy --workspace

    - name: Test
      run: cargo test --verbose --workspace

    - name: Test with alternative crypto libraries
      run: cargo test --no-default-features --features rsa,ed25519-dalek,sha2,rand

    - name: Test with openssl
      run: cargo test --no-default-features --features=ring,openssl

    - name: Test with secp256k1
      run: |
        cargo test --verbose --workspace --features secp256k1
        cargo test --verbose --manifest-path did-key/Cargo.toml --features secp256k1,ssi/ring
        cargo test --verbose --manifest-path did-tezos/Cargo.toml --features secp256k1,ssi/ring

    - name: Test with p256
      run: |
        cargo test --verbose --workspace --features p256
        cargo test --verbose --manifest-path did-key/Cargo.toml --features p256,ssi/p256,ssi/ring,ssi/rand
        cargo test --verbose --manifest-path did-tezos/Cargo.toml --features p256,ssi/p256,ssi/ring,ssi/rand

    - name: Test DID Resolution HTTP(S) Binding
      run: cargo test --features http-did

    - name: Checkout vc-test-suite
      uses: actions/checkout@v2
      with:
        repository: w3c/vc-test-suite
        path: vc-test-suite

    - name: Test vc-test-suite
      run: |
        cd vc-test-suite
        npm i
        cp ../vc-test/config.json .
        npm test

    - name: Test WASM compilation
      run: |
        rustup target add wasm32-unknown-unknown
        cargo check --workspace --target wasm32-unknown-unknown

    - name: Test Aleo signatures
      run: cargo test --features=aleosig
